@import "tailwindcss";

@theme inline {
  --color-custom-dark-blue: #0A1D2E;   /* Primary */
  --color-custom-coral: #ED714D;       /* Secondary */
  --color-custom-dark-gray: #1F2937;    /* Headings */
  --color-custom-medium-gray: #4B5563;  /* Body */
  --color-custom-white: #FFFFFF;
  --color-custom-red: #EF4444;
  --color-custom-bg-light: #F9FAFB;    /* Background */
  --color-custom-charcoal: #333333;
  --color-custom-dim-gray: #666666;  /* Body */
  --color-custom-border: #0000001A;
  --color-custom-auth: #718096;
  --color-custom-authtext: #999999;



}